body {
  background-color: #ADD8E6;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #4ECCA3;
  font-size: 8rem;
  color: #800000;
}

img {
  width: 80%;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

.message {
  text-shadow: 2px 0 #4ECCA3;
  color: #800000;
  font-family: 'Times New Roman', serif;
  font-size: 3rem;
}

.player {
  font-size: 1.5rem;
  font-weight: bold;
  color: #654321;
  text-shadow: 2px 0 #4ECCA3;
  font-family: 'Times New Roman', serif;
}